*{
    padding: 0px;
    margin: 0px;
}
body{
    background: pink;
}
nav{
    margin: auto;
    font-size: 30px;
    background: rgb(204, 0, 255);
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.articulos{
    margin: 0px auto;
    margin-top: 50px;
    background: whitesmoke;
    width: 80%;
    height: 100%;
}   
    .articulos h1{
        text-align: center;
        font-size: 40px;
    }
    .articulos ul li{
        list-style: none;
    }
    .articulos a{
        padding: 50px;
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    .articulos a:hover{
        color: rgba(255, 166, 0, 0.918);
    }
    .texto{
        background: rgb(1, 75, 56);
         color: white;
         width: 70%;
         font-size: 30px;
         margin: auto;
         padding: 10px; 

    }




